.nav-bar {
    background-color: #4834fa;
    padding: 1rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-bar a.active {
    border-bottom: 2px solid #fff;
}

.nav-bar a:hover {
    border-bottom: 2px solid #aaa;
}

.wallet-button {
    margin-left: auto;
}
