# NEXT_PUBLIC_REACT_APP_SOLANA_NETWORK - Possible options:
# - localnet
# - devnet-custom-rpc
# - devnet
# - testnet
# - mainnet
NEXT_PUBLIC_REACT_APP_SOLANA_NETWORK="localnet"

# Only useful if: NEXT_PUBLIC_REACT_APP_SOLANA_NETWORK="devnet-custom-rpc"
DEVNET_CUSTOM_RPC_URL=""

# NEXT_PUBLIC_REACT_APP_SOLANA_COMMITMENT - Possible options:
# - processed - The transaction has been seen by a validator and processed by that validator, but it hasn't yet been confirmed by the network. It could still be canceled or modified.
# - confirmed - The transaction has been included in a block that has been voted on by at least one validator, but it could still be reorganized in the event of a minor chain fork.
# - finalized - The transaction has been included in a block that has reached sufficient confirmation, meaning it's extremely unlikely to be canceled, except in the event of a major chain fork.
NEXT_PUBLIC_REACT_APP_SOLANA_COMMITMENT="finalized"
